<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated tienda_Ejercicio7 -->
      <package
            uri="http://www.example.org/tienda_Ejercicio7"
            class="tienda_Ejercicio7.Tienda_Ejercicio7Package"
            genModel="model/tienda_Ejercicio7.genmodel"/>
   </extension>

</plugin>
